---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Base.astro'
import type { CollectionEntry } from 'astro:content'
import { determineSet } from '../../lib/grouping'
import CharacterList from '../../components/CharacterList.astro'
import { getBotcId } from '../../lib/botc-com'

type Character = CollectionEntry<'characters'>
type Grouped = {
  set: string | undefined
  characters: Character[]
}[]

const characters = await getCollection('characters')
const grouped = group(characters)

function group(characters: Character[]): Grouped {
  const grouped: Grouped = []
  for (const character of characters) {
    const set = determineSet(character.id)
    if (grouped.length === 0 || grouped[grouped.length - 1]!.set !== set) {
      grouped.push({ set, characters: [] })
    }
    grouped[grouped.length - 1]!.characters.push(character)
  }
  return grouped
}
---

<Layout title="Custom Script">
  <h1>Custom Script</h1>

  <div hidden id="custom-script-output">
    <CharacterList characters={characters} />

    <div class="controls">
      <button id="reset-custom-script">Reset</button>
    </div>
  </div>

  <form id="custom-script-form">
    <p>
      <a href="/custom/file">Load script from file</a>
    </p>

    {
      grouped.map(({ set, characters }) => (
        <section class="menu">
          <h2>{set ?? 'Experimental'}</h2>
          {characters.map((character) => (
            <div class="option" title={`(${character.data.type}) ${character.data.tagLine}`}>
              <input type="checkbox" id={`cb:${character.slug}`} name={getBotcId(character)} />
              <label for={`cb:${character.slug}`}>{character.data.name}</label>
            </div>
          ))}
        </section>
      ))
    }

    <div class="form-controls">
      <button type="submit">Create script</button>
    </div>
  </form>
</Layout>

<style>
  .menu {
    columns: 8rem;
    margin-block-end: 2rem;

    & > h2 {
      padding: 0;
      margin-block: 0.5rem;
      margin-inline: 0;
      font-size: 1.2rem;
      font-weight: bold;
      column-span: all;
    }
  }

  .option {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    align-items: baseline;
    padding: 0.25rem;
  }
</style>

<script>
  const form = document.getElementById('custom-script-form') as HTMLFormElement
  const output = document.getElementById('custom-script-output') as HTMLElement
  const resetButton = document.getElementById('reset-custom-script') as HTMLButtonElement

  // initialize the page and update everytime the popstate event occurs
  init(true)
  addEventListener('popstate', () => init())

  // when the form is submitted, get the IDs and navigate to the overview
  form.addEventListener('submit', (event) => {
    event.preventDefault()
    const data = new FormData(form)
    const ids = Array.from(data.entries().map(([id]) => id))
    if (ids.length > 0) {
      nav(ids)
      load(ids)
    }
  })

  // when a header is clicked, (de)select all options in this menu
  form.addEventListener('click', (event) => {
    const el = event.target as HTMLElement
    if (el.tagName === 'H2') {
      const section = el.parentElement as HTMLElement
      const inputs = section.querySelectorAll<HTMLInputElement>('input')
      let allChecked = true
      for (const input of inputs) {
        if (!input.checked) {
          allChecked = false
          break
        }
      }
      for (const input of inputs) {
        input.checked = !allChecked
      }
    }
  })

  // when the reset button is clicked, go back to the form view
  resetButton.addEventListener('click', (event) => {
    event.preventDefault()
    nav()
    reset()
  })

  /**
   * Initialize the page
   *
   * @param initCheckboxes On the initial page load, also set all checkboxes to the correct state
   */
  function init(initCheckboxes = false) {
    const script = new URLSearchParams(window.location.search).get('script')

    if (script) {
      const ids = script.split(' ')
      load(ids)

      if (initCheckboxes) {
        for (const cb of form.querySelectorAll<HTMLInputElement>('.option > input')) {
          cb.checked = ids.indexOf(cb.name) !== -1
        }
      }
    } else {
      reset()
    }
  }

  /**
   * Navigate to the form view
   */
  function nav(): void
  /**
   * Navigate to the overview with the selected IDs
   */
  function nav(ids: string[]): void
  function nav(ids?: string[]) {
    window.scrollTo({ top: 0, behavior: 'smooth' })
    if (ids === undefined) {
      history.pushState({}, '', '/custom')
    } else {
      history.pushState({}, '', '/custom?script=' + ids.join('+'))
    }
  }

  /**
   * Load the overview with the selected IDs
   */
  function load(ids: string[]) {
    form.hidden = true
    output.hidden = false
    for (const el of output.querySelectorAll<HTMLElement>('[data-botc-id]')) {
      el.style.display = 'none'
    }
    for (const id of ids) {
      try {
        output.querySelector<HTMLElement>(`[data-botc-id="${id}"]`)!.style.display = ''
      } catch (err) {
        console.error('character not found:', id, err)
      }
    }
  }

  /**
   * Load the form view
   */
  function reset() {
    form.hidden = false
    output.hidden = true
  }
</script>
